# Локально: скопируй в .env или просто передай переменные в командной строке.
# На Railway эти же имена задаются в Variables.
QUESTION="Варя, признай: я самый лучший?"
ANSWER="я так рад что ты это признала"
YES_LABEL="Да"
NO_LABEL="Нет"
PAGE_TITLE="Один вопрос"
